In [296]:
import pandas as pd

In [297]:
df = pd.read_csv("netflix_titles.csv")

In [298]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [299]:
df['description'][0]

'As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.'

In [300]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [301]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [302]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [303]:
show_df = df[['title', 'director', 'cast', 'listed_in', 'description']]

In [304]:
show_df.head()

,title,director,cast,listed_in,description
0,Dick Johnson Is Dead,Kirsten Johnson,NaN,Documentaries,"As her father nears the end of his life, filmm..."
1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...","Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,Jailbirds New Orleans,NaN,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#Text Preprossing

In [305]:
show_df = show_df.fillna("")

In [306]:
show_df.head()

,title,director,cast,listed_in,description
0,Dick Johnson Is Dead,Kirsten Johnson,,Documentaries,"As her father nears the end of his life, filmm..."
1,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...","Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,Jailbirds New Orleans,,,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [307]:
show_df.isna().sum()

title          0
director       0
cast           0
listed_in      0
description    0
dtype: int64

In [308]:
for i in ("director", "cast", "listed_in"):
  show_df[i] = show_df[i].apply(lambda x: x.replace(' ',''))

In [309]:
for i in ("director", "cast", "listed_in", "description"):
  show_df[i] = show_df[i].apply(lambda x: x.split(','))

In [310]:
show_df.head()

,title,director,cast,listed_in,description
0,Dick Johnson Is Dead,[KirstenJohnson],[],[Documentaries],"[As her father nears the end of his life, fil..."
1,Blood & Water,[],"[AmaQamata, KhosiNgema, GailMabalane, ThabangM...","[InternationalTVShows, TVDramas, TVMysteries]","[After crossing paths at a party, a Cape Town..."
2,Ganglands,[JulienLeclercq],"[SamiBouajila, TracyGotoas, SamuelJouy, Nabiha...","[CrimeTVShows, InternationalTVShows, TVAction&...",[To protect his family from a powerful drug lo...
3,Jailbirds New Orleans,[],[],"[Docuseries, RealityTV]","[Feuds, flirtations and toilet talk go down a..."
4,Kota Factory,[],"[MayurMore, JitendraKumar, RanjanRaj, AlamKhan...","[InternationalTVShows, RomanticTVShows, TVCome...",[In a city of coaching centers known to train ...

In [311]:
show_df["tags"] = show_df["director"] + show_df["cast"] + show_df["listed_in"] + show_df["description"]

In [312]:
show_df.head()

,title,director,cast,listed_in,description,tags
0,Dick Johnson Is Dead,[KirstenJohnson],[],[Documentaries],"[As her father nears the end of his life, fil...","[KirstenJohnson, , Documentaries, As her fathe..."
1,Blood & Water,[],"[AmaQamata, KhosiNgema, GailMabalane, ThabangM...","[InternationalTVShows, TVDramas, TVMysteries]","[After crossing paths at a party, a Cape Town...","[, AmaQamata, KhosiNgema, GailMabalane, Thaban..."
2,Ganglands,[JulienLeclercq],"[SamiBouajila, TracyGotoas, SamuelJouy, Nabiha...","[CrimeTVShows, InternationalTVShows, TVAction&...",[To protect his family from a powerful drug lo...,"[JulienLeclercq, SamiBouajila, TracyGotoas, Sa..."
3,Jailbirds New Orleans,[],[],"[Docuseries, RealityTV]","[Feuds, flirtations and toilet talk go down a...","[, , Docuseries, RealityTV, Feuds, flirtation..."
4,Kota Factory,[],"[MayurMore, JitendraKumar, RanjanRaj, AlamKhan...","[InternationalTVShows, RomanticTVShows, TVCome...",[In a city of coaching centers known to train ...,"[, MayurMore, JitendraKumar, RanjanRaj, AlamKh..."

In [313]:
final_show_df = show_df[["title", "tags"]]

In [314]:
final_show_df.head()

                   title                                               tags
0   Dick Johnson Is Dead  [KirstenJohnson, , Documentaries, As her fathe...
1          Blood & Water  [, AmaQamata, KhosiNgema, GailMabalane, Thaban...
2              Ganglands  [JulienLeclercq, SamiBouajila, TracyGotoas, Sa...
3  Jailbirds New Orleans  [, , Docuseries, RealityTV, Feuds,  flirtation...
4           Kota Factory  [, MayurMore, JitendraKumar, RanjanRaj, AlamKh...

In [315]:
final_show_df["tags"] = final_show_df["tags"].apply(lambda x: " ".join(x))

<ipython-input-315-f8feb920fa50>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_show_df["tags"] = final_show_df["tags"].apply(lambda x: " ".join(x))

In [316]:
final_show_df.head()

                   title                                               tags
0   Dick Johnson Is Dead  KirstenJohnson  Documentaries As her father ne...
1          Blood & Water   AmaQamata KhosiNgema GailMabalane ThabangMola...
2              Ganglands  JulienLeclercq SamiBouajila TracyGotoas Samuel...
3  Jailbirds New Orleans    Docuseries RealityTV Feuds  flirtations and ...
4           Kota Factory   MayurMore JitendraKumar RanjanRaj AlamKhan Ah...

##Checking for Special Charecters

In [317]:
flag=0
for i in final_show_df["tags"]:
  for j in i:
    if j in ('[@_!#$%^&*()<>?/\|}{~:]'):
      flag=1
      break;
if flag:
  print("True")
else:
  print("False")

True

***Removing special charecters***

In [318]:
def remove_special_charecter(txt):
  t=''
  for i in txt:
    if (i.isalnum() or i.isspace()):
      t+=i
  return t

In [319]:
final_show_df["tags"] = final_show_df["tags"].apply(remove_special_charecter)

<ipython-input-319-8051e95649ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_show_df["tags"] = final_show_df["tags"].apply(remove_special_charecter)

In [320]:
final_show_df.head()

                   title                                               tags
0   Dick Johnson Is Dead  KirstenJohnson  Documentaries As her father ne...
1          Blood & Water   AmaQamata KhosiNgema GailMabalane ThabangMola...
2              Ganglands  JulienLeclercq SamiBouajila TracyGotoas Samuel...
3  Jailbirds New Orleans    Docuseries RealityTV Feuds  flirtations and ...
4           Kota Factory   MayurMore JitendraKumar RanjanRaj AlamKhan Ah...

##Converting the text into Lowercase

In [321]:
def convert_lowercase(txt):
  return txt.lower()

In [322]:
final_show_df["tags"] = final_show_df["tags"].apply(convert_lowercase)

<ipython-input-322-98054e757232>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_show_df["tags"] = final_show_df["tags"].apply(convert_lowercase)

In [323]:
final_show_df.head()

                   title                                               tags
0   Dick Johnson Is Dead  kirstenjohnson  documentaries as her father ne...
1          Blood & Water   amaqamata khosingema gailmabalane thabangmola...
2              Ganglands  julienleclercq samibouajila tracygotoas samuel...
3  Jailbirds New Orleans    docuseries realitytv feuds  flirtations and ...
4           Kota Factory   mayurmore jitendrakumar ranjanraj alamkhan ah...

##Removing stopwords

In [324]:
import nltk

In [325]:
%%capture
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [326]:
from nltk.corpus import stopwords

In [327]:
sw = stopwords.words('english')

In [328]:
def remove_stopwords(txt):
  temp=""
  for i in txt.split(" "):
    if i not in sw:
      temp+=" "+i
  return temp

In [329]:
final_show_df["tags"] = final_show_df["tags"].apply(remove_stopwords)

<ipython-input-329-ce4464f04091>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_show_df["tags"] = final_show_df["tags"].apply(remove_stopwords)

In [330]:
final_show_df.head()

                   title                                               tags
0   Dick Johnson Is Dead   kirstenjohnson  documentaries father nears en...
1          Blood & Water    amaqamata khosingema gailmabalane thabangmol...
2              Ganglands   julienleclercq samibouajila tracygotoas samue...
3  Jailbirds New Orleans     docuseries realitytv feuds  flirtations toi...
4           Kota Factory    mayurmore jitendrakumar ranjanraj alamkhan a...

##Word Stemming
work, worked, working --> work

In [331]:
from nltk.stem import PorterStemmer

In [332]:
ps = PorterStemmer()

In [333]:
def stemming(txt):
  temp=""
  for i in txt.split(" "):
    temp+=" "+ ps.stem(i)
  return temp

In [334]:
final_show_df["tags"] = final_show_df["tags"].apply(stemming)

<ipython-input-334-c760b069364b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_show_df["tags"] = final_show_df["tags"].apply(stemming)

In [335]:
final_show_df.head()

                   title                                               tags
0   Dick Johnson Is Dead    kirstenjohnson  documentari father near end ...
1          Blood & Water     amaqamata khosingema gailmabalan thabangmol...
2              Ganglands    julienleclercq samibouajila tracygotoa samue...
3  Jailbirds New Orleans      docuseri realitytv feud  flirtat toilet ta...
4           Kota Factory     mayurmor jitendrakumar ranjanraj alamkhan a...

#Count Vectorizer

***Counting each word's count for each show</br>***
<table>
  <tr>
    <th>movie</th>
    <th>word1</th>
    <th>word2</th>
    <th>word3</th>
  </tr>
  <tr>
    <td>m1</td>
    <td>2</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>m2</td>
    <td>3</td>
    <td>1</td>
    <td>0</td>
  </tr>
</table>
...

In [336]:
from sklearn.feature_extraction.text import CountVectorizer

In [337]:
cv = CountVectorizer(max_features=5000)

In [338]:
word_vector = cv.fit_transform(final_show_df["tags"]).toarray()

In [339]:
word_vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

#Counting Similarity 
***Taking a row of vector as a coordinate and calculating distance between each rows of vector and doing same for each rows***

In [340]:
from sklearn.metrics.pairwise import cosine_similarity

In [341]:
similarities = cosine_similarity(word_vector)

In [342]:
similarities

array([[1.        , 0.        , 0.        , ..., 0.        , 0.06726728,
        0.13453456],
       [0.        , 1.        , 0.06063391, ..., 0.05735393, 0.        ,
        0.        ],
       [0.        , 0.06063391, 1.        , ..., 0.05564149, 0.        ,
        0.05882353],
       ...,
       [0.        , 0.05735393, 0.05564149, ..., 1.        , 0.05564149,
        0.        ],
       [0.06726728, 0.        , 0.        , ..., 0.05564149, 1.        ,
        0.        ],
       [0.13453456, 0.        , 0.05882353, ..., 0.        , 0.        ,
        1.        ]])

#Similarities Testing

In [343]:
def recommend_show(title):
  index = final_show_df[final_show_df["title"] == title].index[0]

  recommendation_list = []
  for i in sorted(list(enumerate(similarities[index])), key=lambda x:x[1], reverse=True)[1:11]:
    recommendation_list.append(final_show_df.iloc[i[0]]["title"])
  
  return recommendation_list

In [344]:
recommendation_list = recommend_show("Stranger Things")
for i in recommendation_list:
  print(i)

Beyond Stranger Things
Hemlock Grove
The OA
Requiem
Midnight Mass
Safe Haven
Broadchurch
The Mystic River
October Faction
Nightflyers